<div class="well ">
    <button class="btn btn-raised btn-info " data-toggle="collapse" href="#filter_area" aria-expanded="false"
            aria-controls="filter_area">Фильтры
    </button>
    <div class="container collapse" id="filter_area">
        <form>
            <!--Дивципліна-->
            <div class="form-group">
                <label for="lesson" class="col-md-2 control-label">Дисципліна</label>
                <div class="col-md-10">
                    <select id="lesson" class="form-control" ng-model="admin.lessonFilter"
                            ng-options="lesson.name for lesson in admin.lesson track by lesson.$id">
                        <option value=""></option>
                    </select>
                    <button ng-click="admin.SetAddLesson()" type="button"
                            class="btn btn-primary" data-toggle="modal" data-target="#lesson-dialog">Додати
                        дисципліну
                    </button>
                    <button ng-click="admin.SetEditDusc(admin.lessonFilter)" ng-if="admin.lessonFilter"
                            data-toggle="modal" data-target="#lesson-dialog" class="btn btn-raised btn-info">
                        Редагувати
                    </button>
                    <button ng-click="admin.RemoveDusc(admin.lessonFilter.$id)" ng-if="admin.lessonFilter"
                            class="btn btn-raised btn-danger">Видалити
                    </button>
                </div>
            </div>
            <div id="lesson-dialog" class="modal fade in" tabindex="-1" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form>
                                <label for="dusc.add" class=" lead control-label">{{admin.correctDusc}}</label>
                                <input id="dusc.add" type="text" ng-model="admin.addLesson.name"
                                       class="form-control">
                                <button ng-if="!admin.addLesson.$id" class="btn btn-raised btn-info"
                                        ng-click="admin.addless()" data-dismiss="modal">
                                    Додати
                                </button>
                                <button ng-if="admin.addLesson.$id" class="btn btn-raised btn-info"
                                        ng-click="admin.UpdateDusc(admin.addLesson)"
                                        data-dismiss="modal">Відредагувати
                                </button>
                                <button data-dismiss="modal" class="btn btn-raised btn-default">Закрити</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--end Дисципліна-->
            <!--Факультет-->
            <div class="form-group">
                <label for="facult" class="col-md-2 control-label">Факультет</label>
                <div class="col-md-10">
                    <select id="facult" class="form-control" ng-model="admin.facultFilter"
                            ng-options="facultet.name for facultet in admin.facultet track by facultet.$id">
                        <option value=""></option>
                    </select>
                    <button ng-click="admin.setAddFacultet()" type="button"
                            class="btn btn-primary" data-toggle="modal" data-target="#facult-dialog">Додати
                        факультет
                    </button>
                    <button ng-click="admin.SetEditFacultet(admin.facultFilter)" ng-if="admin.facultFilter.$id"
                            data-toggle="modal" data-target="#facult-dialog" class="btn btn-raised btn-info">
                        Редагувати
                    </button>
                    <button ng-click="admin.RemoveFacult(admin.facultFilter.$id)" ng-if="admin.facultFilter.$id"
                            class="btn btn-raised btn-danger">Видалити
                    </button>
                </div>
            </div>
            <div id="facult-dialog" class="modal fade in" tabindex="-1" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form>
                                <label for="fuacult.add" class=" lead control-label">{{admin.correctFacult}}</label>
                                <input id="fuacult.add" type="text" ng-model="admin.addFacult.name"
                                       class="form-control">
                                <button ng-if="!admin.addFacult.$id" class="btn btn-raised btn-info"
                                        ng-click="admin.addFacultet()" data-dismiss="modal">
                                    Додати
                                </button>
                                <button ng-if="admin.addFacult.$id" class="btn btn-raised btn-info"
                                        ng-click="admin.UpdateFacult(admin.addFacult)"
                                        data-dismiss="modal">Відредагувати
                                </button>
                                <button data-dismiss="modal" class="btn btn-raised btn-default">Закрити</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--end facult-->
            <!--begin Speciality-->
            <div class="form-group">
                <label for="speciality" class="col-md-2 control-label">Спеціальність</label>
                <div class="col-md-10">
                    <select id="speciality" class="form-control" ng-model="admin.specialityFilter"
                            ng-options="speciality.name for speciality in admin.speciality | filter: {id_faculty: admin.facultFilter.$id} track by speciality.$id">
                        <option value=""></option>
                    </select>
                    <button ng-click="admin.setAddSpecality()" class="btn btn-raised btn-primary"
                            data-toggle="modal"
                            data-target="#speciality-dialog">Додати спеціальність
                    </button>
                    <button ng-if="admin.specialityFilter" ng-click="admin.SetEditSpecality(admin.specialityFilter)"
                            class="btn btn-raised btn-info"
                            data-toggle="modal" data-target="#speciality-dialog">
                        Редагувати
                    </button>
                    <button ng-if="admin.specialityFilter" class="btn btn-raised btn-danger"
                            ng-click="admin.RemoveSpec(admin.specialityFilter)">Видалити
                    </button>
                </div>
            </div>
            <div id="speciality-dialog" class="modal fade in" role="dialog" tabindex="-1" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form>
                                <p>{{admin.addSpec}}</p>
                                <label for="speciality.add"
                                       class=" lead control-label">{{admin.correctSpeciality}}</label>
                                <input id="speciality.add" type="text" ng-model="admin.addSpec.name"
                                       class="form-control">
                                <label for="spaciality.facult" class=" lead control-label">Факультет:</label>
                                <select id="spaciality.facult" class="form-control"
                                        ng-model="admin.addSpec.id_faculty">
                                    <option ng-repeat="facult in admin.facultet" ng-value="facult.$id">
                                        {{facult.name}}
                                    </option>
                                </select>
                                <button ng-if="!admin.addSpec.$id" class="btn btn-raised btn-info"
                                        ng-click="admin.addSpeciality()" data-dismiss="modal" name="addSpec">
                                    Додати
                                </button>
                                <button ng-if="admin.addSpec.$id" class="btn btn-raised btn-info"
                                        ng-click="admin.UpdateSpec(admin.addSpec)"
                                        data-dismiss="modal">Відредагувати
                                </button>
                                <button data-dismiss="modal" class="btn btn-raised btn-default">Закрити</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--end Speciality-->
            <!--begin Group-->
            <div class="form-group">
                <label for="group" class="col-md-2 control-label">Група</label>
                <div class="col-md-10">
                    <select id="group" class="form-control" ng-model="admin.groupFilter"
                            ng-options="group.name for group in admin.group | filter:{id_specialty: admin.specialityFilter.$id} track by group.$id">
                        <option value=""></option>
                    </select>
                    <button ng-click="admin.setAddGroup()" class="btn btn-raised btn-primary"
                            data-toggle="modal"
                            data-target="#group-dialog">Додати групу
                    </button>
                    <button ng-if="admin.groupFilter" ng-click="admin.SetEditGroup(admin.groupFilter)"
                            class="btn btn-raised btn-info"
                            data-toggle="modal" data-target="#group-dialog">
                        Редагувати
                    </button>
                    <button ng-if="admin.groupFilter" class="btn btn-raised btn-danger"
                            ng-click="admin.RemoveGroup(admin.groupFilter)">Видалити
                    </button>
                </div>
            </div>
            <div id="group-dialog" class="modal fade in" role="dialog" tabindex="-1" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form>
                                <label for="speciality.add"
                                       class=" lead control-label">{{admin.correctGroup}}</label>
                                <input id="group.add" type="text" ng-model="admin.addGroup.name"
                                       class="form-control">
                                <label for="group.spec" class=" lead control-label">Спеціальність:</label>
                                <select id="group.spec" class="form-control"
                                        ng-model="admin.addGroup.id_specialty">
                                    <option ng-repeat="speciality in admin.speciality" ng-value="speciality.$id">
                                        {{speciality.name}}
                                    </option>
                                </select>
                                <button ng-if="!admin.addGroup.$id" class="btn btn-raised btn-info"
                                        ng-click="admin.addGroupFunc()" data-dismiss="modal" name="addSpec">
                                    Додати
                                </button>
                                <button ng-if="admin.addGroup.$id" class="btn btn-raised btn-info"
                                        ng-click="admin.UpdateGroup(admin.addGroup)"
                                        data-dismiss="modal">Відредагувати
                                </button>
                                <button data-dismiss="modal" class="btn btn-raised btn-default">Закрити</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--end Group-->
            <!--begin Teacher-->
            <div class="form-group">
                <label for="teacher" class="col-md-2 control-label">Викаладач</label>
                <div class="col-md-10">
                    <select id="teacher" class="form-control" ng-model="admin.teacherFilter"
                            ng-options="teacher.surname+' '+teacher.name+' '+teacher.secondname for teacher in admin.teacher track by teacher.$id">
                        <option value=""></option>
                    </select>
                    <button ng-click="admin.SetAddTeacher()" type="button"
                            class="btn btn-primary" data-toggle="modal" data-target="#teacher-dialog">Додати
                        викладача
                    </button>
                    <button ng-click="admin.SetEditTeacher(admin.teacherFilter)" ng-if="admin.teacherFilter"
                            data-toggle="modal" data-target="#teacher-dialog" class="btn btn-raised btn-info">
                        Редагувати
                    </button>
                    <button ng-click="admin.RemoveTeacher(admin.teacherFilter)" ng-if="admin.teacherFilter"
                            class="btn btn-raised btn-danger">Видалити
                    </button>
                </div>
            </div>
            <div id="teacher-dialog" class="modal fade in" tabindex="-1" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form>
                                <h3>{{admin.correctTeacher}}</h3>
                                <label for="teacher.add.surname" class=" lead control-label">Прізвище</label>
                                <input id="teacher.add.surname" type="text" ng-model="admin.addTeacher.surname"
                                       class="form-control">
                                <label for="teacher.add.name" class=" lead control-label">Ім'я</label>
                                <input id="teacher.add.name" type="text" ng-model="admin.addTeacher.name"
                                       class="form-control">

                                <label for="teacher.add.lastname" class=" lead control-label">По батькові</label>
                                <input id="teacher.add.lastname" type="text" ng-model="admin.addTeacher.secondname"
                                       class="form-control">
                                <button ng-if="!admin.addTeacher.$id" class="btn btn-raised btn-info"
                                        ng-click="admin.addTeacherFunc()" data-dismiss="modal">
                                    Додати
                                </button>
                                <button ng-if="admin.addTeacher.$id" class="btn btn-raised btn-info"
                                        ng-click="admin.UpdateTeacher(admin.addTeacher)"
                                        data-dismiss="modal">Відредагувати
                                </button>
                                <button data-dismiss="modal" class="btn btn-raised btn-default">Закрити</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--endTeacher-->
        </form>
    </div>
</div>

<table class="table table-striped table-hover ">
    <thead>
    </thead>
    <tr>
        <td>Понеділок</td>
    </tr>
    <tr ng-repeat="para in admin.main | filter: {day: 1, id_lesson: admin.lessonFilter.$id}">
        <td>{{para.id_numberOfpair}}</td>
        <td>{{admin.lesson[para.id_lesson].name}}</td>
        <td>Група: {{admin.group[para.id_group].name}}</td>
        <td>День: {{admin.massday[para.day].name}}</td>
        <td>Аудиторія: {{para.auditory}}</td>
        <td>Викладач: {{admin.teacher[para.id_teacher].secondname}} {{admin.teacher[para.id_teacher].name}}
            {{admin.teacher[para.id_teacher].surname}}
        </td>
    </tr>
    <tr>
        <td>Вівторок</td>
    </tr>
    <tr ng-repeat="para in admin.main | filter: {day: 2, id_lesson: admin.lessonFilter.$id}">
        <td>{{para.id_numberOfpair}}</td>
        <td>{{admin.lesson[para.id_lesson].name}}</td>
        <td>Група: {{admin.group[para.id_group].name}}</td>
        <td>День: {{admin.massday[para.day].name}}</td>
        <td>Аудиторія: {{para.auditory}}</td>
        <td>Викладач: {{admin.teacher[para.id_teacher].secondname}} {{admin.teacher[para.id_teacher].name}}
            {{admin.teacher[para.id_teacher].surname}}
        </td>
    </tr>
</table>